@tailwind base;
@tailwind components;
@tailwind utilities;
body{
  font-family: 'Roboto Condensed', sans-serif;
}

.outer{
  width: 100px;
  height: 100px;
}
.body-height{
  height: calc(100vh - 6rem);
}
h1{
    -webkit-text-fill-color: transparent;
}

.fade-in-out {
  animation: fadeinout 2.5s linear infinite;
  opacity: 0;
}

@keyframes fadeinout {
  0% {
    opacity: 0;
  }
  17% {
    opacity: 1;
  }
  33% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

